*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Calibri, sans-serif;
  font-size: 16px;
  background: #C6D8D3;
}

.contenedor{
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  overflow: hidden;
}

header{
  background: #F0544F;
}

header nav{
  width: 100%;
}

header nav ul{
  width: 100%;
  overflow: hidden;
  list-style: none;
}

header nav ul li{
  float: left;
  /* display: inline-block; */
}

header nav ul li a{
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  color: #FFF;
}

header nav ul li a:hover{
  background: #3A3335;
  color: #FFF;
}

.main{
  width: 70%;
  background: #FDF0D5;
  float: left;
}

.main .imagen{
  width: 100%;
}

.main .imagen img{
  width: 100%;
  vertical-align: top;
}

.main .posts{
  padding: 40px;
}

.main .posts article h2{
  margin-bottom: 20px;
  color: #3A3335;
}

.main .posts article p{
  margin-bottom: 15px;
  line-height: 27px;
}

aside{
  width: 30%;
  background: #3A3335;
  padding: 20px;
  color: #FDF0D5;
  float: left;
}

aside .widget{
  margin-bottom: 20px;
}

aside .widget .titulo{
color: #F7A292;
border-bottom: 1px solid #E43955;
margin-bottom: 10px;
}

aside .widget ul{
  list-style: none;
}

aside .widget ul li{
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  padding: 10px 0;
}

aside .widget ul li a{
  color: #FFF;
  text-decoration: none;
}

aside .widget ul li a:hover{
  color: #8F8F8F;
}

aside .widget p{
  line-height: 27px;
}

footer{
  width: 70%;
  /* overflow: hidden; */
  clear: both;
  background: #D81E5B;
  color: #FFF;
  padding: 15px 0;
  text-align: center;
}

@media screen and (max-width: 870px){
  .main{
    width: 100%;
  }

  aside{
    width: 100%;
  }

  footer{
    width: 100%;
  }
}
